<!DOCTYPE html>
<html>
<head>
    <title>James RJ Constable</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/kube.min.css">
	<link rel="stylesheet" href="css/styles.css">

</head>
<body>

<div class="row align-center">
    <div class="col col-6">
	<h1 class="title h1">James RJ Constable</h1>

	{{ content }}

	<p>Things I'm on:</p>
	<ul>
		<li><a href="http://twitter.com/weejames">Twitter</a></li>
		<li><a href="http://github.com/weejames">Github</a></li>
		<li><a href="http://uk.linkedin.com/in/jamesconstable">LinkedIn</a></li>
	</ul>
    </div>
</div>

<script>
var _gaq=[['_setAccount','UA-65374-3'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>